.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    background-color: violet;
}

.menu a {
    width: 100%;
    height: 100%;
    background-color: red;
    color: greenyellow;
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
}

.menu a:hover {
    transform: scale(1.1);
}